
  <!--Tab bar-->
  <ion-tabs> <!-- component; wrapper around tabs logic-->
    <ion-tab-bar slot="bottom"> <!--which buttons you want to use -->
      <ion-tab-button tab="discover"> <!--has an unique identifier to assign with its attribute-->
        <ion-label>Descoperă</ion-label> <!--add text-->
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="my-favourite-places">
        <ion-label>Favorite</ion-label>
        <ion-icon name = "heart"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="advanced-search">
        <ion-label>Căutare</ion-label>
        <ion-icon name = "search"></ion-icon>
      </ion-tab-button>
      
    </ion-tab-bar>
  </ion-tabs>
