
  <!--Tab bar-->
  <ion-tabs> <!-- component; wrapper around tabs logic-->
    <ion-tab-bar slot="bottom"> <!--which buttons you want to use -->
      <ion-tab-button tab="discover"> <!--has an unique identifier to assign with its attribute-->
        <ion-label>Discover</ion-label> <!--add text-->
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab = "offers">
        <ion-label>Offers</ion-label>
        <ion-icon name = "card"></ion-icon>
      </ion-tab-button>
      
    </ion-tab-bar>
  </ion-tabs>
