<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="'/pubs/tabs/offers' + place.id"></ion-back-button>
    </ion-buttons>
    <ion-title>Editează: {{place.title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onUpdateOffer()" [disabled]="!form2.valid"> 
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form2">
    <ion-grid>
      <ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Titlu</ion-label>
              <ion-input text="text" autocomplete autocorrect autocapitalize="words" formControlName="title2"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Descriere</ion-label>
              <ion-textarea rows="3" formControlName = "description2"></ion-textarea> 
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!form2.get('description2').valid && form2.get('description2').touched">
          <ion-col size-sm="6" offset-sm="3">
              <p>Descrierea trebuie să conțină între 0 și 201 de caractere. </p>
          </ion-col>
        </ion-row>
      </ion-row> 
    </ion-grid>
  </form> 

</ion-content>
