<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Autentificare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="floating">E-Mail
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <!-- <div class="ion-text-center">
      <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  </div> -->
  <ion-button color="primary" (click)="onLogin()">Conectare</ion-button>

</ion-content>
