<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref= "/pubs/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>New Offer</ion-title>
    <ion-buttons slot=primary>
      <ion-button (click)="onCreateOffer()" [disabled]="!form1.valid"> 
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form1">
    <ion-grid>
      <ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Titlu</ion-label>
              <ion-input text="text" autocomplete autocorrect autocapitalize="words" formControlName="title1"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Descriere</ion-label>
              <ion-textarea rows="3" formControlName = "description1"></ion-textarea> 
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!form1.get('description1').valid && form1.get('description1').touched">
          <ion-col size-sm="6" offset-sm="3">
              <p>Descrierea trebuie să conțină între 0 și 201 de caractere. </p>
          </ion-col>
        </ion-row>



        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Orar</ion-label>
              <ion-textarea rows="3" formControlName="openHours1"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
  <!--ADD EVENT - Future implementation(can take days)----------------------------------------->
        <!-- <ion-row>
          <ion-col size-sm="3" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Eveniment din</ion-label>
              <ion-datetime min="2019-01-01" max="2050-12-23" aria-placeholder="Selectează data"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size-sm="3">
            <ion-item>
              <ion-label position="floating">până în</ion-label>
              <ion-datetime min="2019-01-02" max="2050-12-23" aria-placeholder="Selectează data"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row> -->
        <!-- <ion-row>
          <ion-col class="ion-text-center">
            <ion-label position="floating">începând cu ora:</ion-label>
            <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
          </ion-col>
        </ion-row> -->
      </ion-row> 
    </ion-grid>
  </form> 
</ion-content>
