<ion-app>
  <ion-menu side = "start" menuId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Bogart
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="m1">
        <ion-item lines = "none" routerLink="/pubs/tabs/discover">
          <ion-icon name = "search-outline" slot="start"></ion-icon>
          <ion-label>Descoperă</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item lines = "none">
          <ion-icon name = "heart" slot="start"></ion-icon>
          <ion-label>Favorite</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item lines = "none" routerLink="/booking">
        <ion-icon name = "checkbox-outline" slot="start"></ion-icon>
        <ion-label>Rezervări</ion-label>
        </ion-item>
      </ion-menu-toggle>

       <ion-menu-toggle>
        <ion-item lines = "none" routerLink="/calendar">
          <ion-icon name = "calendar-outline" slot="start"></ion-icon>
          <ion-label>Calendar</ion-label>
          </ion-item>
        </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item lines = "none" (click)="onLogout()" button>
          <ion-icon name = "exit" slot="start"></ion-icon>
          <ion-label>Deconectare</ion-label>
        </ion-item>
      </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
