<ion-app>
  <ion-menu side = "start" menuId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Bogart
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
      <ion-menu-toggle menu="m1">
        <ion-item lines = "none" routerLink="/pubs/tabs/discover">
          <ion-icon name = "home" slot="start"></ion-icon>
          <ion-label>Descoperă locații</ion-label>
        </ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle>
        <ion-item lines = "none" routerLink="my-favourite-places">
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label>Locații favorite</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle menu="m1">
        <ion-item lines = "none" routerLink="advanced-search">
          <ion-icon name = "search" slot="start"></ion-icon>
          <ion-label>Căutare avansată</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item lines = "none" routerLink="/my-bookings">
          <ion-icon name="body" slot="start"></ion-icon>
          <ion-label>Rezervările mele</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-item-divider>
      </ion-item-divider>

      <h6 style="padding-left: 20px; color: #6d031c">Panou administrativ</h6>

      <ion-menu-toggle>
        <ion-item lines = "none" routerLink="/admin-bookings">
          <ion-icon name="construct" slot="start"></ion-icon>
          <ion-label>Administrează rezervări</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item lines = "none" routerLink="/admin-places">
          <ion-icon name="construct" slot="start"></ion-icon>
          <ion-label>Administrează locații</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-item-divider>
      </ion-item-divider>

      <ion-menu-toggle>
        <ion-item lines = "none" (click)="onLogout()" button>
          <ion-icon name = "exit" slot="start"></ion-icon>
          <ion-label>Deconectare</ion-label>
        </ion-item>
      </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
